





/* banner-1 section */
.banner-1 {
  background-image: url('../assignment-1/Assets/—Pngtree—majestic\ winter\ mountainscape\ snow-covered\ peaks_16716938.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 40px;
  color: #4f46e5;
}

/* Buttons */

.btn-su {
  border: 2px solid #4f46e5;
  background-color: #3b38cc;
  color: #f5f5fa;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.btn-sf {
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
}

/* banner-1 text */
.banner-text h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

/*action*/
.action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 400px;
}

.action-text {
  max-width: 400px;
}

.action-text h2 {
  font-size: 30px;
  font-weight: 700;
  color: #2d2d2d;
  margin-bottom: 20px;
}

.action-text p {
  font-size: 16px;
  color: #777c8c;
  margin-bottom: 20px;
}

.action-button {
  background-color: #4c45e0;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 6px;
}


.action-image img {
  max-width: 360px;
  border-radius: 24px;
}